body{
    text-align: center;
    background-color: black;
    color:white;
    font-size:14px;
}

@media (max-width: 168px ) {
  html {
    width: 80%; /* Ocupa 80% da largura disponível em telas menores */
    padding: 5px; /* Reduz o espaçamento interno */
  }

  img {
    max-width:160px;
    width: auto;
    height: auto;
}
}
header {
    background-color: red;
    padding: 10px;
}

img{
    padding: 5px;
    max-width: 160px
}